$categoryList: (
  "뭐하지": (
    width: 45px,
    pos: -96px -115px,
  ),
  "책방": (
    width: 30px,
    pos: -66px -161px,
  ),
  "원쁠딜": (
    width: 45px,
    pos: -148px -92px,
  ),
  "리빙": (
    width: 30px,
    pos: -196px -69px,
  ),
  "레시피": (
    width: 45px,
    pos: -48px -116px,
  ),
  "장보기": (
    width: 45px,
    pos: -148px -46px,
  ),
  "패션뷰티": (
    width: 60px,
    pos: -78px -23px,
  ),
  "선물샵": (
    width: 45px,
    pos: -98px -92px,
  ),
  "쇼핑라이브": (
    width: 77px,
    pos: 77px 0 0,
  ),
  "쇼핑": (
    width: 30px,
    pos: -196px -23px,
  ),
  "홈": (
    width: 16px,
    pos: -196px -161px,
  ),
  "뉴스": (
    width: 30px,
    pos: 0 -161px,
  ),
  "연예": (
    width: 30px,
    pos: -96px -138px,
  ),
  "스포츠": (
    width: 45px,
    pos: 0 -115px,
  ),
  "쇼핑2": (
    width: 30px,
    pos: -196px -23px,
  ),
  "추천구독": (
    width: 70px,
    pos: -78px 0,
  ),
  "경제": (
    width: 30px,
    pos: -132px -161px,
  ),
  "우리동네": (
    width: 60px,
    pos: -63px -69px,
  ),
  "웹툰": (
    width: 30px,
    pos: -196px -46px,
  ),
  "자동차": (
    width: 45px,
    pos: -49px -92px,
  ),
);
