body {
  background-color: #f4f6f8;
}

// Config
@import "./reset.css";

body {
  color: #303038;
}
a {
  text-decoration: none;
  color: #303038;
}

@mixin mainSearchBg($position) {
  background: {
    image: url(/images/sp_main_search.png);
    size: 323px 234px;
    repeat: no-repeat;
    position: $position;
  }
}
@mixin weatherBg($position) {
  background: {
    image: url(/images/sp_weather_animation.png);
    size: 472px 447px;
    repeat: no-repeat;
    position: $position;
  }
}
@mixin searchBg($position) {
  background: {
    image: url(/images/sp_search.png);
    size: 372px 361px;
    repeat: no-repeat;
    position: $position;
  }
}

/* header */

.header {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.header__menu {
  width: 44px;
  height: 44px;
  margin: 8px;
  @include mainSearchBg(-49px -145px);
}

.header__buttons {
  margin: 8px;

  .header__button {
    width: 40px;
    height: 40px;
  }

  .header__button--notify {
    @include mainSearchBg(-45px -194px);
  }

  .header__button--pay {
    @include mainSearchBg(-90px -194px);
  }

  .header__button--profile {
    width: 44px;
    height: 44px;
    padding: 0;
    @include mainSearchBg(-261px -76px);
  }
}

/* content */

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 120px;
}

/* search */

.search-header {
  display: none;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search__container {
    display: flex;
    align-items: center;
    width: 488px;
    border-radius: 30px;
    border: 1px solid #43de00;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12);

    .search__logo {
      width: 40px;
      height: 40px;
      margin-left: 15px;
      @include mainSearchBg(0px -194px);
      background-color: #43de00;
    }

    input {
      padding-left: 10px;
      line-height: 3rem;
      font-size: 1rem;
      flex-grow: 1;
    }

    .search__button {
      width: 34px;
      height: 34px;
      margin-right: 10px;
      background-color: #43de00;
      @include mainSearchBg(-174px -194px);
    }
  }

  .search__shortcut {
    width: 316px;
    margin: 0 auto;
    padding: 24px 0 37px;
    .shortcut__buttons {
      display: flex;
      flex-wrap: wrap;
      li {
        width: 25%;
        padding: 12px 18px 0 18px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .shortcut__image {
          position: relative;
          &::before {
            content: "";
            width: 50px;
            height: 50px;
            display: block;
            position: absolute;
            top: -2px;
            left: -3px;
            z-index: -1;
            @include mainSearchBg(-163px -21px);
          }
          img {
            width: 100%;
          }
        }
        span {
          display: block;
          text-align: center;
          margin-top: 5px;
          font-size: 11px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/* ad-banner */

.ad-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 396px;
  img {
    width: 100%;
  }
}

.l-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 1104px;
  margin: 0 auto;
}

.card {
  padding: 0 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
  margin: 12px;
}

.card-weather {
  .card-weather__info {
    display: flex;
    align-items: center;

    .card-weather__image {
      width: 42px;
      height: 42px;
      transform: scale(0.7272); // 애니메이션 때문에?
      @include weatherBg(-47px -231px);
    }
    .card-weather__place {
      margin-left: 12px;
      padding: 22px 0 16px;
      flex-grow: 1;
      .title {
        font-size: 16px;
        line-height: 24px;
      }
      .sub {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.5px;
        .state-good {
          color: #00a8ff;
        }
        .state-bad {
          color: #ff8f00;
        }
      }
    }
    .card-weather__my-location {
      display: flex;
      align-items: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      line-height: 22px;
      color: #767678;
      &::after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 6px;
        vertical-align: top;
        @include searchBg(-46px -322px);
      }
    }
  }
  .card-weather__notice {
    padding: 12px 0 30px;
    font-size: 15px;
    line-height: 20px;
    color: #767678;
    text-align: center;
  }
}

.card-now {
  .card-now__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    .card-now__title {
      width: 48px;
      height: 14px;

      @include searchBg(-100px -295px);
    }
    .card-now__move {
      border: 1px solid #ececee;
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 15px;
      &::after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border: solid #8b8b8d;
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
        margin: 2px 7px 0 2px;
      }
      .thumb {
        width: 20px;
        height: 20px;
        img {
          width: 100%;
        }
      }
      .text {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 5px;
        letter-spacing: -0.5px;
      }
    }
  }

  .card-now__list {
    display: flex;
    margin-top: 8px;
    .card-now__item {
      position: relative;
      .icon-live {
        width: 32px;
        padding-bottom: 1px;
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 1;
        color: white;
        background-color: #f4361e;
        border: 1px solid #f61c00;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        line-height: 14px;
        text-align: center;
      }
      .item__image {
        width: 100px;
        height: 138px;
        display: block;
        position: relative;
        img {
          border-radius: 6px;
          width: 100%;
        }
        .item__logo {
          position: absolute;
          bottom: 9px;
          padding: 0 10%;
        }
      }
      .item__title {
        width: 100px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0 0 2px;
        font-size: 14px;
        line-height: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        letter-spacing: -0.5px;
      }
    }
  }
  .card-now__item + .card-now__item {
    padding-left: 10px;
  }
}

.card__shortcut {
  background-color: #f5f8fb;
  display: flex;
  border-radius: 22px;
  margin-top: 20px;
  margin-bottom: 16px;
  .shortcut__item {
    display: block;
    color: #767678;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    flex-grow: 1;
  }
  .shortcut__item + .shortcut__item::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: 15px;
    border-left: 1px solid rgba(125, 127, 133, 0.2);
  }
}
