// Config

@import "header", "variable", "search", "footer", "content", "media", "categorylist", "card";

body {
  color: #303038;
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: #303038;
}

img {
  width: 100%;
}

/* top-menu*/

.top-menu {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.top-menu__all {
  width: 44px;
  height: 44px;
  margin: 8px;
  @include mainSearchBg(-49px -145px);
}

.top-menu__buttons {
  margin: 8px;

  .top-menu__button {
    width: 40px;
    height: 40px;
  }

  .top-menu__button--notify {
    @include mainSearchBg(-45px -194px);
  }

  .top-menu__button--pay {
    @include mainSearchBg(-90px -194px);
  }

  .top-menu__button--profile {
    width: 44px;
    height: 44px;
    padding: 0;
    @include mainSearchBg(-261px -76px);
  }
}

/* ad-banner */

.ad-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 396px;
}

/* icon */

.icon-logo {
  width: 40px;
  height: 40px;
  background-color: $m-green;
  @include mainSearchBg(0px -194px);
}

.icon-mike {
  width: 34px;
  height: 34px;
  background-color: $m-green;
  @include mainSearchBg(-174px -194px);
}
