@import url(./reset.css);
/* color */
.ad-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 396px; }

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  transform: translateY(-100%);
  z-index: 10;
  transition: transform 0.1s; }
  .header .header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff; }
    .header .header__search .header__search-form {
      width: 100%; }
  .header .header__logo {
    position: absolute;
    margin-left: 12px;
    transform: scale(0.1);
    transition: transform 0.4s;
    flex-shrink: 0; }
  .header .header__input {
    padding: 18px 0 18px;
    font-size: 18px;
    line-height: 24px;
    flex-grow: 1;
    padding-left: 58px;
    letter-spacing: -0.5px;
    box-sizing: border-box; }
    .header .header__input::placeholder {
      transition: all 0.8s;
      color: #fff; }
  .header .header__search-button {
    margin-right: 10px;
    flex-shrink: 0; }
  .header .nav {
    width: 100%;
    height: 54px;
    position: absolute;
    background-image: linear-gradient(to right, #09c665, #07bb7b);
    transform: translateY(-100%);
    transition: all 0.3s;
    z-index: -1; }
    .header .nav .nav__list {
      display: flex;
      justify-content: space-between; }
      .header .nav .nav__list .nav__item {
        padding: 17px 10px; }
        .header .nav .nav__list .nav__item a {
          display: block;
          width: 45px;
          height: 20px;
          font-size: 0;
          background-image: url(/images/category.png);
          background-size: 226px 181px;
          background-repeat: no-repeat; }
        .header .nav .nav__list .nav__item:nth-child(1) a {
          background-position: -96px -115px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(2) a {
          background-position: -66px -161px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(3) a {
          background-position: -148px -92px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(4) a {
          background-position: -196px -69px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(5) a {
          background-position: -48px -116px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(6) a {
          background-position: -148px -46px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(7) a {
          background-position: -78px -23px;
          width: 60px; }
        .header .nav .nav__list .nav__item:nth-child(8) a {
          background-position: -98px -92px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(9) a {
          background-position: 77px 0 0;
          width: 77px; }
        .header .nav .nav__list .nav__item:nth-child(10) a {
          background-position: -196px -23px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(11) a {
          background-position: -196px -161px;
          width: 16px; }
        .header .nav .nav__list .nav__item:nth-child(12) a {
          background-position: 0 -161px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(13) a {
          background-position: -96px -138px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(14) a {
          background-position: 0 -115px;
          width: 45px; }
        .header .nav .nav__list .nav__item:nth-child(15) a {
          background-position: -196px -23px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(16) a {
          background-position: -78px 0;
          width: 70px; }
        .header .nav .nav__list .nav__item:nth-child(17) a {
          background-position: -132px -161px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(18) a {
          background-position: -63px -69px;
          width: 60px; }
        .header .nav .nav__list .nav__item:nth-child(19) a {
          background-position: -196px -46px;
          width: 30px; }
        .header .nav .nav__list .nav__item:nth-child(20) a {
          background-position: -49px -92px;
          width: 45px; }
        .header .nav .nav__list .nav__item.selected {
          position: relative; }
        .header .nav .nav__list .nav__item.selected::after {
          content: "";
          width: 19px;
          height: 4px;
          bottom: 0px;
          left: 9px;
          border-radius: 2px 2px 0 0;
          position: absolute;
          background: rgba(255, 255, 255, 0.7); }

.header.show {
  opacity: 1;
  transform: translateY(0); }
  .header.show .nav {
    transform: translateY(0); }
  .header.show .header__input::placeholder {
    color: #ced0d7; }
  .header.show .header__logo {
    transform: scale(1); }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .search .search__container {
    max-width: 527px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; }
  .search .search__form {
    display: flex;
    align-items: center;
    max-width: 488px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #03c75a;
    background: white;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 5px 10px 0 rgba(117, 145, 181, 0.12); }
    .search .search__form .search__logo {
      margin-left: 15px;
      flex-shrink: 0; }
    .search .search__form .search__button {
      margin-right: 10px;
      flex-shrink: 0; }
    .search .search__form input {
      padding-left: 10px;
      line-height: 3rem;
      font-size: 1rem;
      flex-grow: 1;
      min-width: 0; }
    .search .search__form input::placeholder {
      color: #bbbcc1; }
  .search .search__shortcut {
    width: 340px;
    margin: 0px auto;
    padding: 14px 0px 46px; }
    .search .search__shortcut .shortcut__buttons {
      display: flex;
      flex-wrap: wrap; }
      .search .search__shortcut .shortcut__buttons li {
        width: 25%;
        padding: 12px 23px 0 18px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column; }
        .search .search__shortcut .shortcut__buttons li .shortcut__image {
          position: relative; }
          .search .search__shortcut .shortcut__buttons li .shortcut__image::before {
            content: "";
            width: 50px;
            height: 50px;
            display: block;
            position: absolute;
            top: -2px;
            left: -3px;
            z-index: -1;
            background-image: url(/images/sp_main_search.png);
            background-size: 323px 234px;
            background-repeat: no-repeat;
            background-position: -163px -21px; }
          .search .search__shortcut .shortcut__buttons li .shortcut__image img {
            width: 100%; }
        .search .search__shortcut .shortcut__buttons li span {
          display: block;
          text-align: center;
          margin-top: 5px;
          font-size: 11px;
          white-space: nowrap;
          text-overflow: ellipsis; }

.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0 79px;
  text-align: center; }
  .footer .footer__info {
    padding: 3px 9px;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.5px; }
    .footer .footer__info .info-link {
      display: inline-block;
      position: relative;
      padding: 0 9px;
      color: #929294; }
  .footer .footer__info .info-link + .info-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -2px;
    width: 1px;
    height: 10px;
    background-color: #d7dfe7; }
  .footer .footer__logo {
    width: 75px;
    height: 25px;
    margin: 16px auto 0;
    background-image: url(/images/footer_logo.png);
    background-size: contain;
    background-repeat: no-repeat; }

.card-container {
  width: 100%; }

.card {
  padding: 0 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06); }

.l-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1103px;
  height: 900px;
  margin: 0 auto;
  gap: 16px 24px; }
  .l-grid .card {
    width: calc(33.33% - 16px);
    box-sizing: border-box; }

.card-weather .card-weather__info {
  display: flex;
  align-items: center; }
  .card-weather .card-weather__info .card-weather__image {
    width: 42px;
    height: 42px;
    transform: scale(0.7);
    background-image: url(/images/sp_weather_animation.png);
    background-size: 472px 447px;
    background-repeat: no-repeat;
    background-position: -47px -231px; }
  .card-weather .card-weather__info .card-weather__place {
    margin-left: 12px;
    padding: 22px 0 16px;
    min-width: 0;
    flex-grow: 1; }
    .card-weather .card-weather__info .card-weather__place .title {
      font-size: 16px;
      line-height: 24px; }
    .card-weather .card-weather__info .card-weather__place .sub {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .card-weather .card-weather__info .card-weather__place .sub .state-good {
        color: #00a8ff; }
      .card-weather .card-weather__info .card-weather__place .sub .state-bad {
        color: #ff8f00; }
  .card-weather .card-weather__info .card-weather__my-location {
    display: flex;
    align-items: center;
    color: #767678;
    font-size: 14px;
    line-height: 22px;
    min-width: 0; }
    .card-weather .card-weather__info .card-weather__my-location::after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-left: 6px;
      vertical-align: top;
      flex-shrink: 0;
      background-image: url(/images/sp_search.png);
      background-size: 372px 361px;
      background-repeat: no-repeat;
      background-position: -46px -322px; }
    .card-weather .card-weather__info .card-weather__my-location .my-location__text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.card-weather .card-weather__notice {
  padding: 12px 0 30px;
  color: #767678;
  font-size: 15px;
  line-height: 20px;
  text-align: center; }

.card-now__wrap {
  overflow: hidden;
  margin-right: -15px;
  position: relative; }

.card-now .card-now__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px; }
  .card-now .card-now__top .card-now__logo {
    width: 50px;
    height: 14px;
    margin-right: 14px;
    flex-shrink: 0;
    background-image: url(/images/sp_search.png);
    background-size: 372px 361px;
    background-repeat: no-repeat;
    background-position: -100px -295px; }
  .card-now .card-now__top .card-now__move {
    display: flex;
    padding: 5px;
    border: 1px solid #ececee;
    border-radius: 15px;
    min-width: 0;
    align-items: center; }
    .card-now .card-now__top .card-now__move::after {
      margin: 2px 7px 0 2px;
      content: "";
      width: 6px;
      height: 6px;
      display: inline-block;
      border: solid #8b8b8d;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg); }
    .card-now .card-now__top .card-now__move .thumb {
      width: 20px;
      height: 20px;
      flex-shrink: 0; }
      .card-now .card-now__top .card-now__move .thumb img {
        width: 100%; }
    .card-now .card-now__top .card-now__move .text {
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-left: 5px;
      letter-spacing: -0.5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

@keyframes fadeUp {
  0% {
    transform: scale(0.7); }
  100% {
    transform: scale(1); } }

.card-now .card-now__list {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
  position: relative; }
  .card-now .card-now__list .card-now__item {
    position: relative; }
    .card-now .card-now__list .card-now__item .icon-live {
      width: 32px;
      padding-bottom: 1px;
      position: absolute;
      top: 8px;
      left: 8px;
      color: white;
      font-size: 10px;
      font-weight: bold;
      line-height: 14px;
      text-align: center;
      background-color: #f4361e;
      border: 1px solid #f61c00;
      border-radius: 8px;
      z-index: 1; }
    .card-now .card-now__list .card-now__item .card-now__poster {
      width: 100px;
      height: 138px;
      display: block;
      position: relative; }
      .card-now .card-now__list .card-now__item .card-now__poster img {
        border-radius: 6px;
        width: 100%; }
      .card-now .card-now__list .card-now__item .card-now__poster .card-now__poster-logo {
        position: absolute;
        bottom: 9px;
        padding: 0 10%; }
    .card-now .card-now__list .card-now__item .card-now__title {
      width: 100px;
      padding: 10px 0 0 2px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.5px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }

.card-now .card-now__item + .card-now__item {
  padding-left: 10px; }

.card__shortcut {
  display: flex;
  margin-bottom: 16px;
  border-radius: 22px;
  background-color: #f5f8fb; }
  .card__shortcut .shortcut__item {
    display: block;
    color: #767678;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    flex-grow: 1; }
  .card__shortcut .shortcut__item + .shortcut__item::before {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    margin-top: 15px;
    position: absolute;
    border-left: 1px solid rgba(125, 127, 133, 0.2); }

.card-covid {
  display: flex;
  padding: 11px 0; }
  .card-covid .card-covid__item {
    width: 25%;
    font-size: 12px; }
    .card-covid .card-covid__item .card-covid__link {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .card-covid .card-covid__item .card-covid__link::before {
        content: "";
        display: block;
        width: 29px;
        height: 29px;
        margin-bottom: 5px;
        background-image: url(/images/sp_search.png);
        background-size: 372px 361px;
        background-repeat: no-repeat;
        background-position: 0; }
      .card-covid .card-covid__item .card-covid__link .card-covid__text {
        width: 100%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .card-covid .card-covid__item.status .card-covid__link::before {
      background-position: -258px -252px; }
    .card-covid .card-covid__item.test .card-covid__link::before {
      background-position: -214px -130px; }
    .card-covid .card-covid__item.vaccine .card-covid__link::before {
      background-position: -343px 0; }
    .card-covid .card-covid__item.fact .card-covid__link::before {
      background-position: -214px -164px; }

.card-app .card-app__link {
  display: flex;
  align-items: center;
  margin: 20px 0; }
  .card-app .card-app__link::before {
    content: "";
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
    flex-shrink: 0;
    background-image: url(/images/sp_search.png);
    background-size: 372px 361px;
    background-repeat: no-repeat;
    background-position: -45px -207px; }
  .card-app .card-app__link .card-app__text {
    color: #424242;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.4px;
    flex-grow: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; }
    .card-app .card-app__link .card-app__text .light {
      color: #767678; }
  .card-app .card-app__link .card-app__move {
    display: flex;
    color: #03c95b;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap; }
    .card-app .card-app__link .card-app__move::after {
      margin-top: 4px;
      content: "";
      width: 7px;
      height: 7px;
      display: inline-block;
      border: solid #03c95b;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg); }

.card-promotion {
  padding: 0 20px; }
  .card-promotion .card-promotion__item {
    display: flex;
    align-items: center;
    padding: 18px 0; }
    .card-promotion .card-promotion__item .card-promotion__thumb {
      width: 52px;
      border-radius: 50%;
      flex-shrink: 0;
      overflow: hidden; }
      .card-promotion .card-promotion__item .card-promotion__thumb img {
        display: block; }
    .card-promotion .card-promotion__item .card-promotion__info {
      text-align: right;
      margin: 0 18px;
      flex-grow: 1;
      min-width: 100px; }
      .card-promotion .card-promotion__item .card-promotion__info .card-promotion__title {
        color: #9761ed;
        display: block;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .card-promotion .card-promotion__item .card-promotion__info .card-promotion__text {
        margin-top: 3px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.47px;
        color: #767678;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .card-promotion .card-promotion__item::before {
      content: "";
      width: 20px;
      height: 16px;
      flex-shrink: 0;
      background-image: url(/images/sp_search.png);
      background-size: 372px 361px;
      background-repeat: no-repeat;
      background-position: -225px -230px; }
  .card-promotion .card-promotion__item + .card-promotion__item {
    border-top: 1px solid #eaeef3; }

.align-right .card-promotion__item {
  flex-direction: row-reverse; }
  .align-right .card-promotion__item .card-promotion__info {
    text-align: left; }
    .align-right .card-promotion__item .card-promotion__info .card-promotion__title {
      color: #0ac666; }

.align-right .card-promotion__item {
  border-top: 1px solid #eaeef3; }
  .align-right .card-promotion__item::before {
    background-image: url(/images/sp_search.png);
    background-size: 372px 361px;
    background-repeat: no-repeat;
    background-position: -182px -183px; }

.card-stock__wrap {
  overflow: hidden;
  margin-left: -12px;
  margin-right: -15px; }

.card-stock__list {
  display: inline-flex;
  padding: 22px 2px 26px 0; }
  .card-stock__list .card-stock__item {
    width: 138px;
    display: block;
    padding: 0 18px 0 20px;
    box-sizing: border-box; }
    .card-stock__list .card-stock__item .title {
      display: block;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: -0.5px; }
    .card-stock__list .card-stock__item .price {
      margin-bottom: 4px;
      display: block;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.5px; }
    .card-stock__list .card-stock__item .card-stock__gap {
      font-size: 12px;
      display: flex; }
      .card-stock__list .card-stock__item .card-stock__gap .icon {
        display: block;
        width: 8px;
        height: 7px;
        margin-right: 2px;
        margin-top: 3px;
        font-size: 0; }
      .card-stock__list .card-stock__item .card-stock__gap .gap-price {
        margin-right: 7px; }
  .card-stock__list .card-stock__gap--up {
    color: #f44336; }
    .card-stock__list .card-stock__gap--up .icon {
      background-image: url(/images/sp_search.png);
      background-size: 372px 361px;
      background-repeat: no-repeat;
      background-position: -165px -147px; }
  .card-stock__list .card-stock__gap--down {
    color: #2196f3; }
    .card-stock__list .card-stock__gap--down .icon {
      background-image: url(/images/sp_search.png);
      background-size: 372px 361px;
      background-repeat: no-repeat;
      background-position: -178px -147px; }

.card-banner {
  padding: 0; }
  .card-banner .card-banner__content {
    display: flex;
    align-items: center;
    padding: 18px 15px; }
  .card-banner .card-banner__info {
    min-width: 0; }
  .card-banner .card-banner__thumb {
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
    flex-shrink: 0; }
    .card-banner .card-banner__thumb img {
      display: block; }
  .card-banner .card-banner__title {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.5px; }
  .card-banner .card-banner__sub {
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: #767678;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

/* content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px; }

.more-event {
  margin: 22px 0 24px; }
  .more-event .more-event__button {
    display: flex;
    align-items: center;
    padding-right: 26px;
    color: #767678;
    font-size: 15px;
    line-height: 53px;
    letter-spacing: -0.5px;
    border-radius: 27px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04); }
    .more-event .more-event__button::before {
      content: "";
      display: block;
      width: 56px;
      height: 53px;
      margin: 0 12px 0 24px;
      background-image: url(/images/sp_search.png);
      background-size: 372px 361px;
      background-repeat: no-repeat;
      background-position: 0 0; }
    .more-event .more-event__button::after {
      margin-left: 3px;
      content: "";
      width: 7px;
      height: 7px;
      display: inline-block;
      border: solid #c3c5cb;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg); }

@media (min-width: 700px) and (max-width: 1152px) {
  .l-grid {
    height: 1300px;
    gap: 20px;
    padding: 0 27px;
    box-sizing: border-box; }
    .l-grid .card {
      width: calc(50% - 12px); }
      .l-grid .card:nth-child(1) {
        height: auto;
        order: 1; }
      .l-grid .card:nth-child(2) {
        height: auto;
        order: 3; }
      .l-grid .card:nth-child(3) {
        height: auto;
        order: 9; }
      .l-grid .card:nth-child(4) {
        height: auto;
        order: 8; }
      .l-grid .card:nth-child(5) {
        height: auto;
        order: 6; }
      .l-grid .card:nth-child(6) {
        height: auto;
        order: 4; }
      .l-grid .card:nth-child(7) {
        height: auto;
        order: 2; }
      .l-grid .card:nth-child(8) {
        height: auto;
        order: 7; }
      .l-grid .card:nth-child(9) {
        height: auto;
        order: 5; } }

@media (max-width: 700px) {
  .l-grid {
    height: auto;
    gap: 20px;
    padding: 0 30px;
    box-sizing: border-box; }
    .l-grid .card {
      width: 100%; }
      .l-grid .card:nth-child(1) {
        z-index: 20px;
        height: auto;
        order: 1; }
      .l-grid .card:nth-child(2) {
        z-index: 20px;
        height: auto;
        order: 4; }
      .l-grid .card:nth-child(3) {
        z-index: 20px;
        height: auto;
        order: 8; }
      .l-grid .card:nth-child(4) {
        z-index: 20px;
        height: auto;
        order: 7; }
      .l-grid .card:nth-child(5) {
        z-index: 20px;
        height: auto;
        order: 2; }
      .l-grid .card:nth-child(6) {
        z-index: 20px;
        height: auto;
        order: 6; }
      .l-grid .card:nth-child(7) {
        z-index: 20px;
        height: auto;
        order: 3; }
      .l-grid .card:nth-child(8) {
        z-index: 20px;
        height: auto;
        order: 5; }
      .l-grid .card:nth-child(9) {
        z-index: 20px;
        height: auto;
        order: 9; } }

body {
  color: #303038;
  background-color: #f4f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  text-decoration: none;
  color: #303038; }

img {
  width: 100%; }

/* top-menu*/
.top-menu {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between; }

.top-menu__all {
  width: 44px;
  height: 44px;
  margin: 8px;
  background-image: url(/images/sp_main_search.png);
  background-size: 323px 234px;
  background-repeat: no-repeat;
  background-position: -49px -145px; }

.top-menu__buttons {
  margin: 8px; }
  .top-menu__buttons .top-menu__button {
    width: 40px;
    height: 40px; }
  .top-menu__buttons .top-menu__button--notify {
    background-image: url(/images/sp_main_search.png);
    background-size: 323px 234px;
    background-repeat: no-repeat;
    background-position: -45px -194px; }
  .top-menu__buttons .top-menu__button--pay {
    background-image: url(/images/sp_main_search.png);
    background-size: 323px 234px;
    background-repeat: no-repeat;
    background-position: -90px -194px; }
  .top-menu__buttons .top-menu__button--profile {
    width: 44px;
    height: 44px;
    padding: 0;
    background-image: url(/images/sp_main_search.png);
    background-size: 323px 234px;
    background-repeat: no-repeat;
    background-position: -261px -76px; }

/* ad-banner */
.ad-banner {
  margin: 0 auto;
  width: 100%;
  max-width: 396px; }

/* icon */
.icon-logo {
  width: 40px;
  height: 40px;
  background-color: #03c75a;
  background-image: url(/images/sp_main_search.png);
  background-size: 323px 234px;
  background-repeat: no-repeat;
  background-position: 0px -194px; }

.icon-mike {
  width: 34px;
  height: 34px;
  background-color: #03c75a;
  background-image: url(/images/sp_main_search.png);
  background-size: 323px 234px;
  background-repeat: no-repeat;
  background-position: -174px -194px; }
